<launch>
<node name="static_tf" pkg="static_tf" type="static_tf_node" output="screen">
   <param name="quat/x" type="double" value="0.0" />
   <param name="quat/y" type="double" value="0.0" />
   <param name="quat/z" type="double" value="0.0" />
   <param name="quat/w" type="double" value="1.0" />

   <param name="vector/x" type="double" value="0.1" />
   <param name="vector/y" type="double" value="100000.0" />
   <param name="vector/z" type="double" value="0.1" />
</node>
</launch>

