<launch>

   <!--GazeboシミュレーションのためDisable-->
   <!--<node pkg="fifth_robot_launchar" type="shell/openUSB.sh" name="openUSB" />-->
<!--   <include file="$(find fifth_robot_launcher)/launch/setup_robot.launch" />-->

   <include file="$(find fifth_robot_launcher)/launch/map_serve.launch" />
   <include file="$(find fifth_robot_2dnav)/launch/move_base.launch" />

   <!--GazeboシミュレーションのためDisable-->
   <!--<include file="$(find fifth_robot_launcher)/launch/waypointServe.launch" />-->

</launch>
