[submodule "joy_twist"]
	path = joy_twist
	url = git@github.com:RyodoTanaka/joy_twist.git
[submodule "nishidalab_ypspur_driver"]
	path = nishidalab_ypspur_driver
	url = git@github.com:RyodoTanaka/nishidalab_ypspur_driver.git
