[submodule "src/third_party/hokuyo_node"]
	path = src/third_party/hokuyo_node
	url = https://github.com/ros-drivers/hokuyo_node.git
[submodule "src/third_party/driver_common"]
	path = src/third_party/driver_common
	url = https://github.com/ros-drivers/driver_common.git
[submodule "src/third_party/ypspur_ros_bridge"]
	path = src/third_party/ypspur_ros_bridge
	url = http://www.roboken.iit.tsukuba.ac.jp/platform/repos/ypspur_ros_bridge.git
[submodule "src/third_party/ros_waypoint_generator"]
	path = src/third_party/ros_waypoint_generator
	url = git@github.com:AriYu/ros_waypoint_generator.git
