<launch>
  <rosparam file="$(find fifth_robot_description)/config/controller/controller.yaml" command="load" />
  <node pkg="controller_manager" type="spawner" name="controller_spawner" ns="fifth_robot"
        args="joint_state_controller diff_drive_controller" output="screen" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" ns="fifth_robot"
        respawn="false" output="screen" />
</launch>
