<launch>
  <arg name="laser_topic" />
  <arg name="bagfile" />
  <param name="/use_sim_time" type="bool" value="true" />
  
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <remap from="scan" to="$(arg laser_topic)" />
  </node>
  <node pkg="rviz" type="rviz" name="rviz" args="$(find fifth_robot_launcher)/rviz/gazebo.rviz" />
  <node pkg="rosbag" type="play" name="playbag" args="--clock $(arg bagfile)" />
</launch>
