<launch>
  <include file="$(find fifth_robot_description)/launch/amcl_diff_gazebo.launch" />
  <node pkg="ros_waypoint_generator" type="ros_waypoint_generator" name="ros_waypoint_generator" />
  <node name="rviz" pkg="rviz" type="rviz" args="$(find fifth_robot_launcher)/rviz/gazebo.rviz" />
</launch>
