<launch>
  <node pkg="rosbag" type="play" name="playbag" args="$(arg bagfile)" output="screen" />

  <node pkg="cartographer_ros" type="cartographer_node" name="cartographer_node"
        args="-configuration_directory $(find fifth_robot_description)/config
              -configuration_basename fifth_robot_gazebo_3d.lua"
        output="screen" />
  
  <arg name="enable_rviz" default="true" />
  <group if="$(arg enable_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find fifth_robot_description)/rviz/gazebo_3d.rviz" required="true" />
  </group>
</launch>
