<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find fifth_robot_control)/config/controller.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager"
                type="spawner" ns="/fifth_robot" output="screen" 
                args="joint_state_controller
                          diff_drive_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" ns="/fifth_robot" respawn="false" output="screen" > 
     <remap from="/joint_states" to="/fifth_robot/joint_states" />
  </node>

</launch>
