<launch>
  <arg name="rviz" default="true" />
  
  <arg name="model" default="$(find fifth_robot_description)/config/controller/fifth_robot.urdf" />
  <arg name="paused" default="false" />
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="debug" default="false" />
  <arg name="world_name" default="clearpath_playpen" />
  
  <group if="$(eval world_name == 'clearpath_playpen')">
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find fifth_robot_description)/world/clearpath_playpen.world" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
  </include>
  </group>
  
  <group if="$(eval world_name == 'willowgarage')">
    <include file="$(find gazebo_ros)/launch/willowgarage_world.launch" />
  </group>
  
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  
  <include file="$(find fifth_robot_description)/launch/gazebo/fifth_robot_control.launch" />
  
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"  output="screen"
        respawn="false" args="-urdf -z 1 -model fifth_robot -param robot_description" />

  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find fifth_robot_description)/rviz/gazebo_3d.rviz" />
  </group>
</launch>
