<launch>
  <arg name="rviz" default="true" />  
  <arg name="gui" default="true" />
  <arg name="world_name" default="clearpath_playpen" />

  <include file="$(find fifth_robot_description)/launch/gazebo/setup_gazebo.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="rviz" value="$(arg rviz)" />  
    <arg name="gui" value="$(arg gui)" />
  </include>

  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen">
    <remap from="cmd_vel" to="fifth_robot/diff_drive_controller/cmd_vel" />
  </node>
</launch>
