<launch>
  <!-- 2D MAP -->
  <arg name="2d_mapfile" />
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg 2d_mapfile)" />

  <!-- 3D MAP -->
  <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_to_pointcloud"
        args="$(arg 3d_mapfile) 5" > <!-- The number is publishing interval -->
    <remap from="cloud_pcd" to="mapcloud" />
    <param name="frame_id" value="map3d" />
  </node>

  <!-- ==================== TF CONFIGURES ==================== -->
  <!-- factory -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="map3d_tf_broadcaster" -->
  <!--       args="0 0.3 0 1.108 0 0 map map3d 100" /> -->

  <!-- kyutech -->
  <node pkg="tf" type="static_transform_publisher" name="map3d_tf_broadcaster"
        args="-0.2 0 0 -0.15807 0 0 map map3d 100" />

  <!-- RVIZ -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find fifth_robot_launcher)/rviz/with_mcl_3dl.rviz" />
</launch>
