<launch>
  <!-- YP-SPUR -->
  <include file="$(find fifth_robot_launcher)/launch/setup/robot/ypspur.launch" />
  
  <!-- IMU -->
  <include file="$(find fifth_robot_launcher)/launch/setup/sensor/rt_usb_9axisimu_driver.launch" />

  <!-- Velodyne -->
  <include file="$(find fifth_robot_launcher)/launch/setup/sensor/velodyne.launch" />
</launch>
