<launch>
  <arg name="use_sensor" default="true" />
  <group if="$(arg use_sensor)">
    <!-- with sensor -->
    <include file="$(find fifth_robot_launcher)/launch/setup/setup_all.launch" />
  </group>

  <group unless="$(arg use_sensor)">
    <!-- without sensor -->
    <include file="$(find fifth_robot_launcher)/launch/setup/robot/ypspur.launch" />
  </group>

  <!-- JOY CONTROL -->
  <include file="$(find teleop_master)/launch/teleop_master.launch" />
</launch>

