<launch>
  <arg name="map" />
  <arg name="waypoint" />
  <!-- ROBOT -->
  <include file="$(find fifth_robot_launcher)/launch/setup_robot.launch" />

  <!-- MAP -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map)" />
  
  <!-- WAYPOINT -->
  <node pkg="goal_sender" type="csv_goal_sender_node" name="csv_goal_sender">
    <param name="path" value="$(arg waypoint)" />
  </node>

  <!-- MOVE_BASE -->
  <include file="$(find fifth_robot_2dnav)/launch/move_base.launch" />

  <!-- RVIZ -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find fifth_robot_launcher)/rviz/tanaco.rviz" />
</launch>
