<launch>
  <node pkg="ypspur_ros_bridge" type="ypspur-coordinator.sh" name="ypspur_coordinator" args="-p $(find fifth_robot_launcher)/ypspur_params/fifth_robot.param -d $(optenv robodev /dev/serial/by-id/usb-T-frog_project_T-frog_Driver-if00)" output="screen" />

  <!-- If ypspur_ros_bridge is launched before ypspur-coordinator initialize, it does not work. Therefore wait for it: -->
  <node pkg="ypspur_ros_bridge" type="wait_and_ypspur_ros_bridge.sh" name="ypspur_ros_bridge"/>
  <node pkg="urg_node" type="urg_node" name="urg">
    <!--橙のURGの時にUSBを有効化 USB権限を変更せよ-->
    <!--<param name="serial_port" value="/dev/ttyACM0" />-->
    <!--青のURGの時にEthを有効化 IP設定を行え-->
    <param name="ip_address" value="192.168.0.10" />
    <!--<param name="serial_port" value="/dev/serial/by-id/usb-Hokuyo_Data_Flex_for_USB_URG-Series_USB_Driver-if00" />-->
    <param name="angle_min" value="-1.5" />
    <param name="angle_max" value="1.5" />
    <param name="publish_multiecho" value="true" />
  </node>
  <!-- You can adjust the pose of laser-rangefinder here. Order of values: x y z yaw pitch roll. -->
  <node pkg="tf" type="static_transform_publisher" name="laser_transform" args="$(optenv laserpos 0 0 0.41 0 0 0) base_link laser 100" />
</launch>
