<launch>
  <arg name="enable_lrf" default="true" />
  <!-- YP-SPUR -->
  <include file="$(find fifth_robot_launcher)/launch/setup/ypspur.launch" />

  <!-- LRF -->
  <group if="$(arg enable_lrf)">
    <include file="$(find fifth_robot_launcher)/launch/setup/front_urg.launch" />
  </group>

  <!-- JOY CONTROL -->
  <include file="$(find teleop_master)/launch/teleop_master.launch" />
</launch>

