<!-- Bag file filter for 3d -->
<launch>
  <node pkg="rosbag" type="play" name="playbag"
        args="--clock $(arg bagfile)" required="true" output="screen">
    <remap from="/velodyne_points" to="points2" />
    <remap from="/imu" to="/imu_raw" />
  </node>

  <arg name="output_name" default="filtered" />
  <node pkg="rosbag" type="record" name="bag_recorder"
        args="/imu /odom /points2 -O $(arg output_name)_3d"
        output="screen"/>
</launch>
  
