<launch>
  <!-- map_server -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg mapfile)" />

  <!-- amcl -->
  <include file="$(find fifth_robot_2dnav)/launch/amcl_diff.launch" />

  <!-- ros_waypoint_generator -->
  <node pkg="ros_waypoint_generator" type="ros_waypoint_generator" name="ros_waypoint_generator" >
    <param name="dist_th" value="10.0" />
    <param name="yaw_th"  value="1.05" />
  </node>

  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find fifth_robot_description)/rviz/gazebo_3d.rviz" />
  
  <!-- rosbag -->
  <node pkg="rosbag" type="play" name="playbag"
        args="--clock $(arg bagfile)" output="screen" />
</launch>
