<launch>
  <!-- map_server -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg mapfile)" />

  <include file="$(find fifth_robot_launcher)/launch/topics/pointcloud_to_laserscan.launch" />

  <!-- localization -->
  <include file="$(find fifth_robot_2dnav)/launch/amcl_diff.launch" />
  <!-- <include file="$(find fifth_robot_2dnav)/launch/hector_localization.launch" /> -->

  <!-- ros_waypoint_generator -->
  <node pkg="ros_waypoint_generator" type="ros_waypoint_generator" name="ros_waypoint_generator" >
    <param name="dist_th" value="10.0" />
    <param name="yaw_th"  value="1.05" />
  </node>

  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find fifth_robot_launcher)/rviz/waypoint_generating.rviz" />
  
  <!-- rosbag -->
  <node pkg="rosbag" type="play" name="playbag"
        args="--clock -r 1.0 $(arg bagfile)" output="screen" />
</launch>
