<launch>
  <rosparam command="load" file="$(find fifth_robot_2dnav)/config/mcl_3dl_params.yaml" />

  <node pkg="mcl_3dl" type="mcl_3dl" name="mcl_3dl" output="screen" >
    <remap from="/cloud" to="/points2" />
    <remap from="/imu/data" to="/imu" />
    <param name="compatible" value="1" />
  </node>
</launch>
