<launch>
  <arg name="2d_mapfile" default="$(find fifth_robot_description)/map/sample_map.yaml" />
  <arg name="waypoint" default="$(find fifth_robot_description)/map/sample_waypoint.csv" />
  <arg name="world_name" default="clearpath_playpen" />

  <!-- ROBOT -->
  <include file="$(find fifth_robot_description)/launch/gazebo/setup_gazebo.launch">
    <arg name="rviz" value="false" />
    <arg name="world_name" default="$(arg world_name)" />
  </include>

  <!-- MAP -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg 2d_mapfile)" />
  
  <!-- WAYPOINT -->
  <node pkg="goal_sender" type="csv_goal_sender_node" name="csv_goal_sender">
    <param name="path" value="$(arg waypoint)" />
  </node>

  <arg name="localization" default="amcl" />
  <group if="$(eval localization == 'amcl')">
    <include file="$(find fifth_robot_description)/launch/rosbag/pointcloud_to_laserscan.launch" />  
    <include file="$(find fifth_robot_2dnav)/launch/amcl_diff.launch" />
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find fifth_robot_description)/rviz/gazebo_3d_with_amcl.rviz" />
  </group>

  <group if="$(eval localization == 'mcl_3dl')">
    <!-- 3D MAP -->
    <arg name="mapfile" default="$(find fifth_robot_description)/map/3d_map.pcd" />
    <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_to_pointcloud"
          args="$(arg mapfile)" >
      <remap from="cloud_pcd" to="mapcloud" />
    </node>    
    <!-- MCL_3DL -->
    <include file="$(find fifth_robot_2dnav)/launch/mcl_3dl.launch" />
    <!-- RVIZ -->
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find fifth_robot_description)/rviz/gazebo_3d_with_mcl_3dl.rviz" />
  </group>

  <include file="$(find fifth_robot_description)/launch/navigation/move_base_gazebo.launch" />
</launch>
