<launch>
  <arg name="2d_mapfile" default="$(find fifth_robot_description)/map/sample_map.yaml" />
  <arg name="waypoint" default="$(find fifth_robot_description)/map/sample_waypoint.csv" />
  <arg name="world_name" default="clearpath_playpen" />

  <!-- ROBOT -->
  <include file="$(find fifth_robot_description)/launch/gazebo/setup_gazebo.launch">
    <arg name="rviz" value="false" />
    <arg name="world_name" default="$(arg world_name)" />
  </include>

  <!-- MAP -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg 2d_mapfile)" />
  
  <!-- WAYPOINT -->
  <node pkg="goal_sender" type="csv_goal_sender_node" name="csv_goal_sender">
    <param name="path" value="$(arg waypoint)" />
  </node>

  <arg name="localization" default="amcl" />
  <group if="$(eval localization == 'amcl')">
    <include file="$(find fifth_robot_description)/launch/navigation/move_base_gazebo_with_amcl.launch" />
  </group>
  
  <group if="$(eval localization == 'mcl_3dl')">
    <arg name="3d_mapfile" default="$(find fifth_robot_description)/map/3d_map.pcd" />
    <include file="$(find fifth_robot_description)/launch/navigation/move_base_gazebo_with_mcl_3dl.launch">
      <arg name="3d_mapfile" value="$(arg 3d_mapfile)" />
    </include>
  </group>
</launch>
