<!-- Bag file filter for 3d -->
<launch>
  <node pkg="rosbag" type="play" name="playbag"
        args="--clock $(arg bagfile)" required="true" output="screen">
    <remap from="/fifth_robot/diff_drive_controller/odom" to="/odom" />
    <remap from="/imu" to="/imu_raw" />
  </node>

  <node pkg="ros_imu_filter" type="imu_filter_node" name="imu_filter" />

  <arg name="output_name" default="filtered" />
  <node pkg="rosbag" type="record" name="bag_recorder"
        args="/imu /odom /points2 -O $(arg output_name)_3d"
        output="screen"/>
</launch>
  
