<launch>
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="converter">
    <remap from="cloud_in" to="velodyne_points" />
    <param name="min_height" value="0.25" />
    <param name="max_height" value="0.8" />
    <param name="range_max"  value="100.0" />
    <param name="range_min"  value="0.3" />
    <param name="angle_max"  value="3.14" />
    <param name="angle_min"  value="-3.14" />
    <param name="use_inf"    value="false" />
    <param name="concurrency_level" value="40" />
    <param name="target_frame" value="velodyne_link" />
  </node>
</launch>
